<mat-card class="example-card">

  
  <mat-card-content>
    <h3>About Us</h3>
    <p>
      Create a sample frontend application with following modules.
      <br>
      User Registration<br>
      Login<br>
      Roles and Permissions<br>
      Task Management<br>
      User View<br>
      <br><br>
      Once the user logs into the system, he should see a form wherein user can create a new task.<br>
      Create a separate view to display tasks created by logged in user with paging and sorting. Provide a search functionality on table. (should be server side searching and sorting)<br>
      Create a view to show the details of a particular task.<br>
      Provide edit and delete functionality on a task.<br>
      Admin<br><br>
      
      Once the user logs into the system, he should see a dashboard with top 10 tasks created by users. Use some charting library to show no of tasks per user in graphical format.<br>
      Create a separate view to display all users with paging and sorting. Provide a search functionality on table. (should be server side searching and sorting)<br>
      Create a view to show the details of a particular user.<br>
      Create a separate view to display tasks created by all users with paging and sorting. Provide a search functionality on table. (should be server side searching and sorting)<br>
      Create a view for Roles and Permissions (for simplicity keep only 2 roles i.e Admin and User)<br>
      A user can be restricted by admin to edit or delete a task.<br>
      Technical Stack:<br><br>
      
      Angular 6<br>
      Angular Material<br>
      CSS3<br>
      HTML5<br>
      Javascript<br>
      Guidelines:<br>
      
      Divide application into modules and services.<br>
      Apply proper validations and messages.<br>
      Create RESTful services to interact with backend.<br>
      Follow method, variables and files naming conventions.<br>
    </p>
  </mat-card-content>
  
</mat-card>